{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> WALLPAPER HEAR</title>
  <link rel="stylesheet" href="{% static 'main/style.css' %}?v=2">
  

{% load cloudinary %}

</head>
<body>
   <div class="header">
      <nav>
         <h1>WALLPAPER HEAR</h1>
         <ul>
            <a href="/"><li>All  </li></a>
         <a href="/?type=anime"><li>Anime  </li></a>
<a href="/?type=nature"><li>Nature  </li></a>
<a href="/?type=games"><li>Games  </li></a>
<a href="/?type=mountain"><li>Mountain</li></a>

              <div class="theme-switch-container"> 
    <label class="theme-slider" for="checkbox"> 
        <input onclick="asdwe(event)" type="checkbox" id="checkbox" class="checkbox" /> 
        <div class="round slider"></div> 
    </label> 

</div> 

<script src="{% static 'main/jsscript.js' %}"></script>
         </ul>
      </nav>
   </div>
   <div class="search-container">
    <form action="#" method="get">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit">Search</button>
    </form>
  </div>
<div class="device-filter">
  <a href="/?device=desktop" class="device-btn">🖥 Desktop</a>
  <a href="/?device=mobile" class="device-btn">📱 Mobile</a>
</div>
<!-- WALLPAPER GRID -->
<div class="wallpaper-container">
    {% for wallpaper in wallpapers %}
    
    <div class="card {% if wallpaper.device == 'desktop' %}desktop{% else %}mobile{% endif %}">
        <img src="{{ wallpaper.img.url }}" alt="{{ wallpaper.title }}">

        <a href="{{ wallpaper.img.url }}" download class="download-btn">
            ⬇
        </a>

    </div>

    {% endfor %}
</div>


</body>
</html>